
body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-flow: column;
  background: black;
  
}
.bara {
  width:15%;
  height: 100vh;
}
.cont {
  display: flex;
  flex-flow: row wrap;
  width: 85%;
  height: fit-content;
}

.chenar_timp_desc {
  height: calc(20vh - 40px);
  width: 35vw;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  overflow: hidden;
}
.join {
  display: none;
  padding: 10px 20px;
  background-color: #4CAF50; /* Green color */
  color: #fff; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.join:hover {
  background-color: #45a049;
}
.date_time {
  height: 100%;
  width: 30%;
  background-color: #61adfb;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.date_time.hide h2, .date_time.hide h1 {
  display: none;
}
.descriere {
  background-color: #333;
  width: 70%;
  height: 100%;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.text {
  margin-left: 15px;
  font-size: 2em;

}
.date_time h1, .date_time h2 {
  margin: 0;
  transition: background-color 1s;
}
.date_time:hover {
  background-color: #2d2a2a; 
  transition: background-color 0.3s ease;
}

.date {
  height: 40px;
}
.favorite {
  right: 0;
  color: white;
}
.title{
  color: white;
  text-align: center;
}
.options-down {
  margin-bottom: 30px; 

}
.d2 {
  display: flex;
  justify-content: space-between;
}
.text2 {
  margin-left: 15px;
}
.continut {
  display: flex;
  flex-flow: row wrap;
}