/* options menu */ 
*{
    font-family: "Poppins", sans-serif;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    overflow: hidden;
}

.options{
    width: 13.8%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    padding: 20px 0 0 10px;
    background-color: black;
    border-right: 1px solid #333;
}

.options-up #logo span{
    font-size: 1.5rem;
    display: flex;
    flex-flow: column;
}

.options-up #logo .app-name{
    display: flex;
    flex-flow: column;
}

.options-up #logo img{
    width: 45px;
    height: 45px;
}

.options .options-up, .options .options-down{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 80%;
}

.options .options-down{
    height: 20%;
}

.options .options-up div{
    width: 90%;
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    border-radius: 15px;

    color: white;
}

.options .options-up #discovery{
    background-color: rgb(34, 34, 34);
}

.options .options-up div *, .options-down div *{
    margin: 0 10px;
}

.options .options-up #logo{
    margin-bottom: 70px;
}

.options .options-up .menu-icons{
    width: 30px;
    height: 30px;
}

.options .options-down .account{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    color: white;
}

.options .options-down .account img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.aur {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .speranta {
    display: flex;
    align-items: center;
  }
  
  .profil {
    width: 90%;
    height: 5vh;
    border-radius: 10px;
    background-color: black ;
  }

  .modal {
    display: none;
    position: relative;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    border-radius: 10%;
  }

/* content */


.content{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-flow: column;
    padding-top: 30px;
    padding-left: 20px;
}


.content .welcome span{
    font-size: 18px;
}

.content #welcome{
    font-size: 18px;
    font-weight: 600;
}

#bell-not{
    color:white;
}

.content .welcome-notify{
    width: 96%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}

  #profile{
    user-select: none;
    cursor: pointer;
    color: white;
    text-align: center;
  }
  #WelcomeProfil{
    color:white;
  }

.content .ev-selection{
    width: 96%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content #discover, .content #pop-text{
    color: white;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.content .ev-selection .events{
    width: 32%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 0 10px;
    color: white;
    border-radius: 50px;
    background-color: #61adfb;
}

.content #ev-rec{
    margin-left: 0px;
}

.content .ev-selection .events .title{
    font-size: 25px;
    font-weight: 600;
}

.content .ev-selection .events .cont{
    font-size: 20px;
    font-weight: 400;
}

.content .popular-creators{              
    width: 96%;
    height: 30vh;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: start;
    margin-top: 80px;
    color: white;
}

.your-creator{
    margin: 10px 0;
}

.your-creator .cnt{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 15px 0;
}

.your-creator .rest{
    display: flex;
}

#popular-creator-temp{
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
}

.your-creator .photo{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 10px;
}

.your-creator #country-photo{
    width: 30px;
    height: 30px;
    margin-left: 12px;
}

.your-creator .info{
    width: auto;
    height: 40px;
    display: flex;
    flex-flow: column;
}

