/* options menu */ 

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;

}

#fletter{
    background-color: purple ;
    display: flex;
    justify-content:center ;
    align-items: center;
    border-radius: 14px;
    margin: 0 5px 0 0;
    width: 15px;
    height: 15px;
    color: white;
    margin: 0 10px;
}

#fletter span{
    font-size: 13px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


/* content */

.content{
    width: 100%;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    display: flex;
    flex-flow: column;
    padding-top: 30px;
    padding-left: 20px;
}

.content .welcome-notify{
    width: 96%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.content .welcome span{
    font-size: 18px;
}

.content #welcome{
    font-size: 18px;
    font-weight: 600;
}

.content .welcome-notify ion-icon{
    width: 15px;
    color: white;
}

.content .ev-selection{
    width: 96%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content #discover, .content #pop-text{
    color: white;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.content .ev-selection .events{
    width: 32%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 0 10px;
    color: white;
    border-radius: 50px;
    background-color: #61adfb;
}

.content #ev-rec{
    margin-left: 0px;
}

.content .ev-selection .events .title{
    font-size: 25px;
    font-weight: 600;
}

.content .ev-selection .events .cont{
    font-size: 20px;
    font-weight: 400;
}

.content .popular-creators{              
    width: 96%;
    height: 30vh;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: start;
    margin-top: 80px;
    color: white;
}

.your-creator{
    margin: 10px 0;
}

.your-creator .cnt{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 15px 0;
}

.your-creator .rest{
    display: flex;
}

#popular-creator-temp{
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
}

.your-creator .photo{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 10px;
}

.your-creator #country-photo{
    width: 30px;
    height: 30px;
    margin-left: 12px;
}

.your-creator .info{
    width: auto;
    height: 40px;
    display: flex;
    flex-flow: column;
}

